<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>work.nabit.monitor-pr-merge</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/python3</string>
    <string>/Users/kemuniagent/todero/config/scripts/monitor-pr-merge.py</string>
  </array>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GH_TOKEN</key>
    <string>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</string>
    <key>DISCORD_BOT_TOKEN</key>
    <string>MTQ4NjA0MTQ3MTUwNDM1MTMxMw.GT-1av.FQM4lTSXgIVvB6XEA1Td7ir65uYWcyt6LvPHmk</string>
    <key>PATH</key>
    <string>/opt/homebrew/opt/node@22/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>/Users/kemuniagent</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/monitor-pr-merge.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/monitor-pr-merge.log</string>
</dict>
</plist>
